body {
  margin: 0;
  padding: 0;
  background-color:aqua;
}

.app {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.ansButton {
  padding:5px;
}

.wrong{
  background-color:red;
 
}
.right{
 background-color:green;

}